<h1>Hello there, find out how much change you have.</h1>
<form action="/result" method="get">
  <div class="form-group">
    <label for="userInput"></label>
    <input name="userInput" id="userInput" type="number">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
#if ($simpleOutput)
<div id="display-results-simple">
  <h4>The result is: $simpleOutput</h4>
</div>
#end
